.container{
    width:100%;
    margin:5px auto;
    columns: 5;
    column-gap:7px;
}

.container .box{
    width:100%;
    margin: 0 0 5px;
    padding: 5px;  
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}

.container .box img{
    max-width: 100%;
    border-radius: 20px;
}

@media(max-width:1200px)
{
    .container{
        columns: 5;
        width: calc(100%-10px);
        box-sizing: border-box;
    }
}

@media(max-width:768px)
{
    .container{
        columns: 4;
        width: calc(100%-10px);
        box-sizing: border-box;
    }
}

@media(max-width:480px)
{
    .container{
        columns: 3;
        width: calc(100%-10px);
        box-sizing: border-box;
    }
}